body {
    font: 100%/1.4em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-text-size-adjust: none;
    color: #333333;
    text-align: center;
    margin: 5em auto;
}

h1 {
    font-size: 8em;
    line-height: 1em;
    font-weight: bold;
    margin: 0.5em 0 0;
}

form {
    margin: 5em 0;
}

#url {
    font-size: 1.5em;
    padding: .5em;
    width: 40%;
    border: 1px solid #bdc3c7;
}

#submit {
    font-size: 1.5em;
    padding: .5em;
    border: 1px solid #c0392b;
    background-color: #c0392b;
    color: #FFF;
    margin-left: -5px;
}

.result {
    border-top: 1px solid #ecf0f1;
    margin: 1em 0;
    padding: 1em 0;
}

.result a {
    font-size: 1.5em;
    margin-top: 8px;
    color: #d35400;
    padding: 8px;
}

footer {
    margin: 30px auto;
    text-align: center;
}

.heart {
    font-style: normal;
    font-weight: 500;
    color: #C0392B;
}

#github {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 149px;
    height: 149px;
}